@model FaqViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- MAIN SECTION -->
<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">

            <!-- ARTICLE CATEGORIES SECTION -->
            <div class="row">
                <div class="col-md-12">
                    <div class="fb-heading">
                        Sıkça Sorulan Sorular
                    </div>
                    <form class="col-md-8 padding-20" enctype="multipart/form-data" method="post" asp-action="SSS" asp-controller="Home">
                        <div class="form-group">
                            <label>Departman:</label>
                            <select class="form-select" aria-label="Departman Seçiniz" name="departman">
                                <option selected>Departman Seçiniz</option>
                                <option value="Basın Yayın ve Halkla İlişkiler Dairesi Başkanlığı">Basın Yayın ve Halkla İlişkiler Dairesi Başkanlığı</option>
                                <option value="Bilgi İşlem Dairesi Başkanlığı">Bilgi İşlem Dairesi Başkanlığı</option>
                                <option value="Çevre Koruma ve Kontrol Dairesi Başkanlığı">Çevre Koruma ve Kontrol Dairesi Başkanlığı</option>
                                <option value="Deprem Risk Yönetimi ve Kentsel İyileştirme Dairesi Başkanlığı">Deprem Risk Yönetimi ve Kentsel İyileştirme Dairesi Başkanlığı</option>
                                <option value="Destek Hizmetleri Dairesi Başkanlığı">Destek Hizmetleri Dairesi Başkanlığı</option>
                                <option value="Emlak ve İstimlak Dairesi Başkanlığı">Emlak ve İstimlak Dairesi Başkanlığı</option>
                                <option value="Fen İşleri Dairesi Başkanlığı">Fen İşleri Dairesi Başkanlığı</option>
                                <option value="Hukuk Müşavirliği">Hukuk Müşavirliği</option>
                                <option value="İmar ve Şehircilik Dairesi Başkanlığı">İmar ve Şehircilik Dairesi Başkanlığı</option>
                                <option value="İnsan Kaynakları ve Eğitim Dairesi Başkanlığı">İnsan Kaynakları ve Eğitim Dairesi Başkanlığı</option>
                                <option value="İşletme ve İştirakler Dairesi Başkanlığı">İşletme ve İştirakler Dairesi Başkanlığı</option>
                                <option value="Kent Estetiği Dairesi Başkanlığı">Kent Estetiği Dairesi Başkanlığı</option>
                                <option value="Kırsal Hizmetler Dairesi Başkanlığı">Kırsal Hizmetler Dairesi Başkanlığı</option>
                                <option value="Kültür ve Sosyal İşler Dairesi Başkanlığı">Kültür ve Sosyal İşler Dairesi Başkanlığı</option>
                                <option value="Kültür ve Tabiat Varlıkları Dairesi Başkanlığı">Kültür ve Tabiat Varlıkları Dairesi Başkanlığı</option>
                                <option value="Makine İkmal Bakım ve Onarım Dairesi Başkanlığı">Makine İkmal Bakım ve Onarım Dairesi Başkanlığı</option>
                                <option value="Mali Hizmetler Dairesi Başkanlığı">Mali Hizmetler Dairesi Başkanlığı</option>
                                <option value="İtfaiye Dairesi Başkanlığı">İtfaiye Dairesi Başkanlığı</option>
                                <option value="Mezarlıklar Dairesi Başkanlığı">Mezarlıklar Dairesi Başkanlığı</option>
                                <option value="Özel Projeler ve Dönüşüm Dairesi Başkanlığı">Özel Projeler ve Dönüşüm Dairesi Başkanlığı</option>
                                <option value="Sağlık İşleri Dairesi Başkanlığı">Sağlık İşleri Dairesi Başkanlığı</option>
                                <option value="Sosyal Hizmetler Dairesi Başkanlığı">Sosyal Hizmetler Dairesi Başkanlığı</option>
                                <option value="Teftiş Kurulu Başkanlığı">Teftiş Kurulu Başkanlığı</option>
                                <option value="Ulaşım Dairesi Başkanlığı">Ulaşım Dairesi Başkanlığı</option>
                                <option value="Yapı Kontrol Dairesi Başkanlığı">Yapı Kontrol Dairesi Başkanlığı</option>
                                <option value="Yazı İşleri ve Kararlar Dairesi Başkanlığı">Yazı İşleri ve Kararlar Dairesi Başkanlığı</option>
                                <option value="Zabıta Dairesi Başkanlığı">Zabıta Dairesi Başkanlığı</option>
                            </select>
                        </div>
                       
                        <button type="submit" class="btn btn-success">Yükle</button>
                    </form>
                    <hr class="style-three">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
         
                                <div class="panel panel-default">


                                    @foreach (var Faq in Model.questions)
                                    {
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
                                                    #  @Faq.Question ( @Faq.Department )
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                @Faq.Answer
                                            </div>
                                        </div>
                                     }
                                        
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ARTICLES CATEOGIRES SECTION -->

    </div>
</div>